/*
Theme Name: Codingate Child
Theme URI: http://www.codingate.com/
Version: 2.6.4.1
Description: Smart. Flexible. Beautiful. Divi is the most powerful theme in our collection.
Author: Codingate Team
Author URI: http://www.codingate.com
Tags: responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, featured-images, full-width-template, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready
License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  Codingate-child
Template: Codingate
*/

#main-header {

}

body.et_cover_background {
	/*background-size: cover !important;*/
}

/*
    Product Detail
---------------------------*/

.pro-right-desc .et_shop_image {
	width: 45%;
	float: left;
	margin-right: 25px;
}

.pro-title {
    background-color: #7cc242;
    border-left: 5px solid #005500;
    margin-top: -40px;
    padding: 10px 10px 0;
}

.pro-title h1,
.pro-title h2,
.pro-title h3,
.pro-title h4,
.pro-title h5,
.pro-title h6 {
    color: #ffffff;
}

.et_pb_section,
.et_pb_row {
	padding-bottom: 0;
}

ul.product,
.et_pb_gutters3 .et_pb_column_4_4 .et_pb_shop_grid .woocommerce ul.products li.product {
	margin-bottom: 0;
}

.summary .cart button.single_add_to_cart_button {
    background-color: #7cc242;
    font-size: 18px;
    height: 40px;
    line-height: 17px !important;
}
.summary .cart button.single_add_to_cart_button:after {
    line-height: 17px !important;
}

.summary .cart button.single_add_to_cart_button:hover {
    background-color: #FF9B16;
    border-color: #FF9B16 !important;
}

/*
	products
-----------------------------*/

.space .woocommerce ul.products li.product,
.space .woocommerce-page ul.products li.product {
    margin: 0 2% 2.992em 0;
    width: 23.5%;
}

.space .woocommerce ul.products li.product.last,
.space .woocommerce-page ul.products li.product.last {
    margin: 0 0 2.992em;
}

ul.products li.product {
    border: 1px solid #eee;
    box-shadow: 0 0 4px -1px #ddd;
    padding: 10px !important;
}

.et_shop_image, .et_portfolio_image {
    margin: -10px;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    border-radius: 0px;
}

.woocommerce ul.products li.product a h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
    background: #FF9800 none repeat scroll 0 0 !important;
    border-radius: 50% 0 50% 50% !important;
    font-size: 16px;
    font-weight: bold !important;
    height: 50px !important;
    left: auto !important;
    margin: 0 !important;
    padding: 10px 0 !important;
    right: 0 !important;
    top: 0 !important;
    width: 50px !important;
}

.et_overlay {
    background: none;
    border: none;
}

.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins {
    float: left;
    font-size: 17px;
    margin-right: 15px !important;
}
.woocommerce ul.products li.product .price del {
    color: #ac1109 !important;
}
.woocommerce ul.products li.product .price ins {
    color: #FF9800;
}

/*
    Blog
-----------------------------*/

.blo-title {
    background-color: #3ABEC0;
    border-left: 5px solid #005500;
    margin-top: -40px;
    padding: 10px 10px 0;
}

.blo-title h1,
.blo-title h2,
.blo-title h3,
.blo-title h4,
.blo-title h5,
.blo-title h6 {
    color: #ffffff;
}

.et_pb_blog_grid .et_pb_post {
    border: none;
}

.et_pb_gutters3 .space .et_pb_column_4_4 .et_pb_blog_grid .column.size-1of3 {
    margin-right: 0;
    width: 33.33%;
}

/*Footer*/

#menu-footer-menu.bottom-nav {
	text-align: center;
}

/*
    Search
------------------------*/

#et_top_search {
    margin: 5px 0 0 10px;
}

/*
    Slide home page
----------------------------*/

.et_pb_slider .et_pb_container {
    height: 525px !important;
}
#main-content .container {
    padding-top: 20px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #7CC242;
}

.woocommerce div.product .product_title {
	color: #7CC242;
}

body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active {
	background-color: #7CC242 !important;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active a {
	color: #ffffff !important;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs,
body.woocommerce div.product .woocommerce-tabs ul.tabs li,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li,
body.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active {
	background-color: #ffffff;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li,
body.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active {
    border-right: medium none;
}

body.woocommerce .woocommerce-tabs {
    border: medium none;
    margin-bottom: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    border-bottom: medium none;
}

#tab-description,
#tab-additional_information,
#tab-reviews {
    border: 1px solid #d3ced2;
}

del .amount {
    color: #ac1109;
}

ins .amount {
    color: #ff9800;
}

.woocommerce div.product .stock {
    color: #ac1109;
    font-weight: 700;
}

.entry-summary p.price span {
    font-size: 20px !important;
}

.summary.entry-summary > div {
    padding: 5px 0;
}

.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty {
    background-color: #7cc242 !important;
    height: 40px !important;
}

.et_color_scheme_green.woocommerce button.button.alt,
.et_color_scheme_green.woocommerce-page button.button.alt,
.et_color_scheme_green.woocommerce #respond input#submit,
.et_color_scheme_green.woocommerce-page #respond input#submit {
    background-color: #7cc242 !important;
    padding: 0.05em 2em;
}

.woocommerce button.button,
.woocommerce #respond input#submit,
.woocommerce-page #respond input#submit {
    border: 2px solid #7cc242 !important;
    color: #ffffff !important;
}

.woocommerce div.product form.cart,
.woocommerce-page div.product form.cart,
.woocommerce #content div.product form.cart,
.woocommerce-page #content div.product form.cart {
    margin: 15px 0 !important;
}

.products h2 {
    border-bottom: 2px solid #7cc242;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
/*Overried*/

.et_boxed_layout #page-container,
.et_boxed_layout.et_non_fixed_nav.et_transparent_nav #page-container #top-header,
.et_non_fixed_nav.et_transparent_nav.et_boxed_layout #page-container #main-header,
.et_fixed_nav.et_boxed_layout #page-container #top-header,
.et_fixed_nav.et_boxed_layout #page-container #main-header,
.et_boxed_layout #page-container .container,
.et_boxed_layout #page-container .et_pb_row,
.et_boxed_layout.et_pb_pagebuilder_layout.single.et_full_width_page #page-container .et_pb_row,
.et_boxed_layout.et_pb_pagebuilder_layout.single.et_full_width_portfolio_page #page-container .et_pb_row,
.et_boxed_layout.et_pb_pagebuilder_layout.single #page-container .et_pb_row {
    width: 95%;
}

/*
    sidebar detail page
--------------------------------*/

#sidebar .woocommerce ul.cart_list li img,
#sidebar .woocommerce ul.product_list_widget li img {
    width: 85px;
}
#sidebar h4.widgettitle {
    background: #7cc242 none repeat scroll 0 0;
    border-left: 5px solid #005500;
    color: #fff;
    padding: 10px;
}